# ignore plots
plots/
*.pdf
*/*.pdf
plot/

# ignore generated data files (for now..)
Herwig/Herwig7Data
Pythia/Pythia8Data

# ignore test directories
TEST-*/

# ignore ROOT files
Pythia/*.root

# ignore all run files
Pythia/Runs-*
Herwig/Runs-*

# ignore temporary files
tmp*
*/tmp*
results/.ipynb_checkpoints/

# ignore executables
Pythia/DMannPythia8